.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.slides {
  display: flex;
  width: 1201px;
  height: 316px;
  background-color: #212844;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-radius: 16px;
}

.slide-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 120px;
  color: #fff;

  p {
    font-size: 30px;
    font-weight: 600;
  }

  img {
    width: 200px;
    height: 200px;
  }
}

.btn {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #fff;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;

  .btn-child {
    background-color: #f3f9fb;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:first-child {
    left: 120px;
  }

  &:last-child {
    right: 120px;
  }
}

.all-slide {
  position: relative;

  .spotlights {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    bottom: 60px;
    left: 120px;
  }
}

.spotlight {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s;

  &.active {
    background-color: #fff;
    width: 30px;
    border-radius: 10px;
  }
}
